.album {
  display: block;

  text-decoration: none;

  &-img {
    display: block;
    width: 137px;
    height: 137px;
    object-fit: cover;

    @include tablet {
      width: auto;
      height: auto;
    }
  }

  &-name {
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: capitalize;
  }

  &-year {
    color: var(--color_grey);
  }
}
