.app {
  @include tablet {
    display: flex;
  }
}

.app-img {
  display: block;
}

.app-content {
  @include tablet {
    flex: 0 0 50%;
    padding-top: 1rem;
  }
}

.app-p {
  margin-top: 0;
  margin-bottom: 1rem;
}
