.bg-hero {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.hero-form {
  max-width: 570px;
}

.hero-title {
  color: #fff;
}

.hero-subtitle {

}
