.similar {
  display: block;
  text-decoration: none;

  &-img {
    width: 100%;
    display: block;
  }

  &-title {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &-count {
    color: var(--color_grey);
  }
}
