.track {
  display: flex;
  align-items: center;
  text-decoration: none;

  &-img {
    flex: 0 0 55px;
    width: 55px;
    height: 55px;
    transform: translateZ(0);
  }

  &-info {
    flex: 1 1 auto;
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }

  &-text {

  }

  &-name {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-author {
    font-size: 0.875rem;
    color: var(--color_grey);
  }

  &-time {
    font-size: 0.8rem;
    color: var(--color_grey);
    margin-left: auto;
  }
}
