.track {
  display: flex;
  align-items: center;

  text-decoration: none;

  &-img {
    flex: 0 0 55px;
    width: 55px;
    height: 55px;

    transform: translateZ(0);
  }

  &-info {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding-left: 1rem;
  }

  &-name {
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &-author {
    color: var(--color_grey);
    font-size: 0.875rem;
  }

  &-time {
    margin-left: auto;

    color: var(--color_grey);
    font-size: 0.8rem;
  }
}
