:root {
  --color_txt: #cacaca;
  --color_bg: #08020d;
  --color_grey: #E0E0E0;
  --color_orange: #F89202;
  --color_orange2: #923A18;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color_txt);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: var(--color_bg);
}

a {
  color: inherit;
}

.container {
  padding: 0 20px;
}

h1,
.h1 {
  margin: 0;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.5;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h1,
.h1 {
    font-size: 1.875rem;
  }
}

h2,
.h2 {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.5;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h2,
.h2 {
    font-size: 18px;
  }
}

h3,
.h3 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
@media (min-width: 769px) {
  h3,
.h3 {
    font-size: 1.5rem;
  }
}

h4,
.h4 {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.color-orange {
  color: var(--color_orange);
}

.color-gray {
  color: var(--color_grey);
}

.w-100 {
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: 700;
}

.w-15r {
  width: 1.5rem;
}

.text-center {
  text-align: center;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-100p {
  padding-bottom: 100px;
}

.pos-absolute {
  position: absolute;
}

.top-25p {
  top: 25px;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.row {
  display: flex;
  margin: 0 -20px;
  min-width: 100%;
}

.col {
  padding: 0 20px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ai-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.color-white {
  color: #fff;
}

.fz-1125r {
  font-size: 1.125rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mb-15r {
  margin-bottom: 1.5rem;
}

.mr-1r {
  margin-right: 1rem;
}

.mr-15r {
  margin-right: 1.5rem;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.mb-2875r {
  margin-bottom: 2.875rem;
}

.mb-200 {
  margin-bottom: 200px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-100 {
  margin-bottom: 100px;
}

.fxd-reverse {
  flex-direction: row-reverse;
}

.text-normal {
  font-weight: normal;
}

.mb-2r {
  margin-bottom: 2rem;
}

.mb-3r {
  margin-bottom: 3rem;
}

.mb-4r {
  margin-bottom: 4rem;
}

.mt-0 {
  margin-top: 0;
}

.pt-2r {
  padding-top: 2rem;
}

.pt-25r {
  padding-top: 2.5rem;
}

.pb-2r {
  padding-bottom: 2rem;
}

.pt-4r {
  padding-top: 4rem;
}

.pb-25r {
  padding-bottom: 2.5rem;
}

.flex-column {
  flex-direction: column;
}

.mb-21r {
  margin-bottom: 2.1rem;
}

.filter-invert {
  filter: invert(1);
}

.w-200 {
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.row-gap-25 {
  row-gap: 25px;
}

.col-gap-50 {
  column-gap: 50px;
}

.mb-1r {
  margin-bottom: 1rem;
}

.mt-100 {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .flex-xs-column {
    flex-direction: column;
  }

  .mb-1r {
    margin-bottom: 1rem;
  }

  .mb-xs-50 {
    margin-bottom: 50px;
  }

  .mb-xs-1r {
    margin-bottom: 1rem;
  }

  .mt-xs-1r {
    margin-top: 1rem;
  }

  .mt-xs-15r {
    margin-top: 1.5rem;
  }

  .mb-xs-15r {
    margin-bottom: 1.5rem;
  }

  .grid-xs-2 {
    grid-template-columns: repeat(auto-fit, calc(50% - 50px));
  }

  .mb-xs-1r {
    margin-bottom: 1rem;
  }

  .mt-xs-3r {
    margin-top: 3rem;
  }
}
@media (min-width: 769px) {
  .flex-md-row {
    flex-direction: row;
  }

  .col-md-15 {
    flex: 0 0 15%;
  }

  .col-md-23 {
    flex: 0 0 23.23%;
  }

  .mr-md-2 {
    margin-right: 2rem;
  }

  .mr-md-15r {
    margin-right: 1.5rem;
  }

  .ai-md-center {
    align-items: center;
  }

  .mb-md-1r {
    margin-bottom: 1rem;
  }

  .mb-md-2r {
    margin-bottom: 2rem;
  }

  .mr-md-15r {
    margin-right: 1.5rem;
  }

  .mb-md-2r {
    margin-bottom: 2rem;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .col-md-4 {
    flex: 0 0 25%;
  }

  .d-md-flex {
    display: flex;
  }

  .mr-md-1r {
    margin-right: 1rem;
  }

  .fxd-md-reverse {
    flex-direction: row-reverse;
  }

  .mt-md-3r {
    margin-top: 3rem;
  }

  .mr-xs-15r {
    margin-right: 1.5rem;
  }

  .grid-md-double {
    grid-template-columns: 1fr 1fr;
  }

  .grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.bg-hero {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.hero-form {
  max-width: 570px;
}

.hero-title {
  color: #fff;
}

.pricing {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}
@media (min-width: 769px) {
  .pricing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

.pricing-item {
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  border-radius: 1rem;
}
@media (min-width: 769px) {
  .pricing-item {
    padding-top: 1.5rem;
  }
}

.bg-free {
  background-image: url(../images/subscribe_1.png);
  background-size: cover;
}

.bg-standart {
  background-image: url(../images/subscribe_2.png);
  background-size: cover;
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);
  background-size: cover;
}

.pricing-value {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  font-size: 4rem;
  line-height: 1;
}

.pricing-label {
  font-size: 2rem;
  line-height: 1.5;
  padding-left: 1rem;
}

.pricing-footer {
  font-size: 0.8rem;
  line-height: 1.5;
}

@media (min-width: 769px) {
  .news-item {
    grid-gap: 50px;
    display: flex;
    justify-content: space-between;
  }
}

.news-img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 769px) {
  .news-img {
    flex: 1 1 48%;
  }
}

@media (min-width: 769px) {
  .news-content {
    flex: 1 1 48%;
  }
}

@media (min-width: 769px) {
  .news-title {
    font-size: 1.875rem;
    text-transform: capitalize;
  }
}

.author {
  font-size: 0.8rem;
  line-height: 1.5;
}

.author-name {
  text-decoration: none;
}

@media (min-width: 769px) {
  .app {
    display: flex;
  }
}

.app-img {
  display: block;
}

@media (min-width: 769px) {
  .app-content {
    flex: 0 0 50%;
    padding-top: 1rem;
  }
}

.app-p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.track {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.track-img {
  flex: 0 0 55px;
  width: 55px;
  height: 55px;
  transform: translateZ(0);
}
.track-info {
  flex: 1 1 auto;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.track-text {
  flex: 1 1 auto;
}
.track-name {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.track-author {
  font-size: 0.875rem;
  color: var(--color_grey);
}
.track-time {
  font-size: 0.875rem;
  color: var(--color_grey);
}

.album {
  display: block;
  text-decoration: none;
}
.album-img {
  display: block;
  width: 137px;
  height: 137px;
  object-fit: cover;
}
@media (min-width: 769px) {
  .album-img {
    width: auto;
    height: auto;
  }
}
.album-name {
  font-size: 1.125rem;
}
.album-year {
  color: var(--color_grey);
}

.similar {
  display: block;
  text-decoration: none;
}
.similar-img {
  width: 100%;
  display: block;
}
.similar-title {
  font-size: 1.125rem;
  font-weight: 700;
}
.similar-count {
  color: var(--color_grey);
}

.header {
  color: #fff;
}

.slogan {
  font-size: 0.6875rem;
  line-height: 1.18;
}

.nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
@media (min-width: 769px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}

.nav-item {
  list-style: none;
  margin-bottom: 4px;
  padding: 0;
  font-size: 0.6875rem;
  line-height: 1.18;
}
@media (min-width: 769px) {
  .nav-item {
    margin-bottom: 0;
  }
}

.nav-link {
  color: var(--color_grey);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link.active {
  color: #fff;
}

.search-input {
  border: none;
  background-color: #3C3B3D;
  border-radius: 50px;
  font-size: 13.3px;
  line-height: 1.1;
  padding: 5px 10px;
  padding-bottom: 4px;
  color: #fff;
  text-transform: uppercase;
}
.search-input::placeholder {
  color: #757575;
  opacity: 1;
}

.form-input {
  display: block;
  background: none;
  border: 2px solid #CACACA;
  box-sizing: border-box;
  border-radius: 3px;
  flex-grow: 1;
  flex-basis: 270px;
  color: #fff;
  padding: 14px 20px;
  font-size: 0.875rem;
  line-height: 1.29;
  font-weight: 700;
}
.form-input::placeholder {
  color: #fff;
  opacity: 1;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 20px 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  background: #34C176;
}

.btn-border {
  border: 1px solid #fff;
}

.btn-border-gray {
  border: 1px solid var(--color_grey);
  color: var(--color_grey);
  font-size: 0.8rem;
  padding: 16px 30px;
}

.btn-red {
  color: #fff;
  background-color: var(--color_orange2);
  border-radius: 2rem;
  color: #fff;
  font-size: 0.8rem;
  padding: 16px 40px;
}

.btn-mix {
  background-color: #512B9F;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.btn-favorites {
  background-color: var(--color_orange2);
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.menu {
  padding-left: 0;
}

.menu-item {
  list-style: none;
  line-height: 1.5;
}

.menu-link {
  display: block;
  text-decoration: none;
}

.footer-top {
  position: relative;
}
.footer-top::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #fff;
}

/*# sourceMappingURL=style.css.map */
