@import 'mixins.scss';

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.color-orange {
  color: var(--color_orange);
}

.color-gray {
  color: var(--color_grey);
}

.w-100 {
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: 700;
}

.w-15r {
  width: 1.5rem;
}

.text-center {
  text-align: center;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-100p {
  padding-bottom: 100px;
}

.pos-absolute {
  position: absolute;
}

.top-25p {
  top: 25px;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.row {
  display: flex;
  margin: 0 -20px;
  min-width: 100%;
}

.col {
  padding: 0 20px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ai-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.color-white {
  color: #fff;
}

.fz-1125r {
  font-size: 1.125rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mb-15r {
  margin-bottom: 1.5rem;
}

.mr-1r {
  margin-right: 1rem;
}

.mr-15r {
  margin-right: 1.5rem;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.mb-2875r {
  margin-bottom: 2.875rem;
}

.mb-200 {
  margin-bottom: 200px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-100 {
  margin-bottom: 100px;
}

.fxd-reverse {
  flex-direction: row-reverse;
}

.text-normal {
  font-weight: normal;
}

.mb-2r {
  margin-bottom: 2rem;
}

.mb-3r {
  margin-bottom: 3rem;
}

.mb-4r {
  margin-bottom: 4rem;
}

.mt-0 {
  margin-top: 0;
}

.pt-2r {
  padding-top: 2rem;
}

.pt-25r {
  padding-top: 2.5rem;
}

.pb-2r {
  padding-bottom: 2rem;
}

.pt-4r {
  padding-top: 4rem;
}

.pb-25r {
  padding-bottom: 2.5rem;
}

.pb-23r {
  padding-bottom: 2.3rem;
}

.flex-column {
  flex-direction: column;
}

.mb-21r {
  margin-bottom: 2.1rem;
}

.filter-invert {
  filter: invert(1);
}

.w-200 {
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.row-gap-25 {
  row-gap: 25px;
}

.col-gap-50 {
  column-gap: 50px;
}

.mb-1r {
  margin-bottom: 1rem;
}

.mt-100 {
  margin-top: 100px;
}

.mt-09r {
  margin-top: 0.9rem;
}

.mb-2r {
  margin-bottom: 2rem;
}

.mt-11r {
  margin-top: 1.1rem;
}

@include mobile {
  .flex-xs-column {
    flex-direction: column;
  }

  .mb-1r {
    margin-bottom: 1rem;
  }

  .mb-xs-50 {
    margin-bottom: 50px;
  }

  .mb-xs-1r {
    margin-bottom: 1rem;
  }

  .mt-xs-1r {
    margin-top: 1rem;
  }

  .mt-xs-15r {
    margin-top: 1.5rem;
  }

  .mb-xs-15r {
    margin-bottom: 1.5rem;
  }

  .grid-xs-2 {
    grid-template-columns: repeat(auto-fit, calc(50% - 50px));
  }

  .mb-xs-1r {
    margin-bottom: 1rem;
  }

  .mt-xs-3r {
    margin-top: 3rem;
  }
}

@include tablet {
  .flex-md-row {
    flex-direction: row;
  }

  .col-md-15 {
    flex: 0 0 15%;
  }

  .col-md-23 {
    flex: 0 0 23.23%;
  }

  .mr-md-2 {
    margin-right: 2rem;
  }

  .mr-md-15r {
    margin-right: 1.5rem;
  }

  .ai-md-center {
    align-items: center;
  }

  .mb-md-1r {
    margin-bottom: 1rem;
  }

  .mb-md-2r {
    margin-bottom: 2rem;
  }

  .mr-md-15r {
    margin-right: 1.5rem;
  }

  .mb-md-2r {
    margin-bottom: 2rem;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .col-md-4 {
    flex: 0 0 25%;
  }

  .d-md-flex {
    display: flex;
  }

  .mr-md-1r {
    margin-right: 1rem;
  }

  .fxd-md-reverse {
    flex-direction: row-reverse;
  }

  .mt-md-3r {
    margin-top: 3rem;
  }

  .mr-xs-15r {
    margin-right: 1.5rem;
  }

  .grid-md-double {
    grid-template-columns: 1fr 1fr;
  }

  .grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .pb-md-26r {
    padding-bottom: 2.6rem;
  }
}
