@import 'vars.scss';
@import 'mixins.scss';
@import 'base.scss';
@import 'framework.scss';

.bg-hero {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

.header {
  color: #fff;
}

.slogan {
  font-size: 0.6875rem;
  line-height: 1.18;
}

.nav {
  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.nav-item {
  list-style: none;
  margin-bottom: 3px;
  padding: 0;
  font-size: 0.6875rem;
  line-height: 1.18;

  @include tablet {
    margin-bottom: 0;
  }
}

.nav-link {
  color: var(--color_grey);
  text-decoration: none;;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link.active {
  color: #fff;
}

.search-input {
  border: none;
  background-color: #3C3B3D;
  border-radius: 50px;
  font-size: 13.3px;
  line-height: 1.1;
  padding: 5px 10px;
  padding-bottom: 4px;
  color: #fff;
  text-transform: uppercase;

  &::placeholder {
    color: #757575;
    opacity: 1;
  }
}

.hero-form {
  max-width: 570px;
}

.hero-title {
  color: #fff;

  @include mobile {
    margin-top: 48px;
  }
}

.hero-subtitle {

}

.form-input {
  display: block;
  background: none;
  border: 2px solid #CACACA;
  box-sizing: border-box;
  border-radius: 3px;
  flex-grow: 1;
  flex-basis: 270px;
  color: #fff;
  padding: 14px 22px;
  font-size: 0.875rem;
  line-height: 1.29;
  font-weight: 700;

  &::placeholder {
    color: #fff;
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  border-radius: 5px;
  margin: 0;
  padding: 20px 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  background: #34C176;
}
