@import 'vars.scss';
@import 'mixins.scss';
@import 'base.scss';
@import 'framework.scss';
@import 'parts/hero.scss';
@import 'parts/subscr.scss';
@import 'parts/news.scss';
@import 'parts/app.scss';
@import 'parts/track.scss';
@import 'parts/album.scss';
@import 'parts/similar.scss';

.header {
  color: #fff;
}

.slogan {
  font-size: 0.6875rem;
  line-height: 1.18;
}

.nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.nav-item {
  list-style: none;
  padding: 0;
  padding-bottom: 5px;
  font-size: 0.6875rem;
  line-height: 1.18;

  @include tablet {
    margin-bottom: 0;
  }
}

.nav-link {
  color: var(--color_grey);
  text-decoration: none;;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link.active {
  color: #fff;
}

.search-input {
  border: none;
  background-color: #3C3B3D;
  border-radius: 50px;
  font-size: 13.3px;
  line-height: 1.1;
  padding: 5px 10px;
  padding-bottom: 4px;
  color: #fff;
  text-transform: uppercase;

  &::placeholder {
    color: #757575;
    opacity: 1;
  }
}

.form-input {
  display: block;
  background: none;
  border: 2px solid #CACACA;
  box-sizing: border-box;
  border-radius: 3px;
  flex-grow: 1;
  flex-basis: 270px;
  color: #fff;
  padding: 14px 20px;
  font-size: 0.875rem;
  line-height: 1.29;
  font-weight: 700;

  &::placeholder {
    color: #fff;
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 20px 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  background: #34C176;
}

.btn-border {
  border: 1px solid #fff;
}

.btn-border-gray {
  border: 1px solid var(--color_grey);
  color: var(--color_grey);
  font-size: 0.8rem;
  padding: 16px 30px;
}

.btn-red {
  color: #fff;
  background-color: var(--color_orange2);
  border-radius: 2rem;
  color: #fff;
  font-size: 0.8rem;
  padding: 16px 40px;
}

.btn-mix {
  background-color: #512B9F;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.btn-favorites {
  background-color: var(--color_orange2);
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}


.menu {
  padding-left: 0;
}


.menu-item {
  list-style: none;
  line-height: 1.5;
}

.menu-img {
  vertical-align: middle;
}

.menu-link {
  text-decoration: none;
}

.footer-top {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #fff;
  }
}
